body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("background.png");
    font-family: 'Century Gothic';
    margin: 0;
    height: 100vh;
}

.header {
    background-image: linear-gradient(to top, rgba(0, 0,0 ,0), rgba(0, 0, 0, 0.4));
    display: flex;
    justify-content: space-around;
    padding: 40px;
}


.footer {
    background-image: linear-gradient(to bottom, rgba(0, 0,0 ,0), rgba(0, 0, 0, 0.2));
    display: flex;
    justify-content: space-around;
    padding: 20px;
    bottom: 0;
    position: fixed;
    width: 100%;
    margin: 0 auto;
}

.main{
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: 25%;
    margin-top: -1%;
}

.main header{
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: black;
}

.main header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 4px;
    width: 70px;
    background-color: #71D5E4;
}
.logo a, .nav a, .account a{
    color: white;
    text-decoration: none;
    padding: 20px;
    margin: 5px;
}

.nav a:hover {
    border: solid 1px white;
}
.nav .active {
    color: #A1DBF1;
    pointer-events: none;
}
.account .active {
    padding: 10px 30px 10px 30px;
    background-color: #71D5E4;
    color: black;
    border-radius: 20px;
}

.account a:hover{
    background-color: #00B6BC;
}

	
section {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}
